<div>
  <h1> NEW GAME </h1>


  <% @letters.each do |letter| %>
     <p style="display:inline-block"><%= letter %></p>
  <% end %>

  <h3>What world can you see ?</h3>
  <form action="score" >
    <input type="text" name="score" placeholder="Answer here" value="<%= params[:word] %>">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input type="submit" value="Submit ">
  </form>


</div>
