// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p {
color: white;
background-color: #F0F8FF;
padding: 10px;
border-width: 1px;
border-style: solid;
border-color: black;
font-size: 25px;
margin: 8px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div {

text-align: center;
}

body {
  background-color: #FFF8DC
}
